body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(32, 178, 170,0.6);
  color: darkgreen;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  width: auto;
}

heading {

}

.converter {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}