* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1a9cf9;
  font-family: sans-serif;
}

.main-container {
  height: 260px;
  width: 90%;
  max-width: 400px;
  background: #FAF9F6;
  padding: 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.4);
  transition: height 0.2s ease;
}

.main-container.active {
  height: 570px;
}

.comment {
  font-weight: 500;
  margin-top: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.input,
.btn {
  padding: 10px;
  border-radius: 5px;
}

.input {
  outline: none;
  font-size: 15px;
  border: 1px solid grey;
}

.btn {
  border: 1px solid #1a9cf9;
  background-color: #1a9cf9;
  margin: 20px 0;
  color: aliceblue;
  cursor: pointer;
  transition: box-shadow 0.10s ease;
}

.btn:active {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
  transform: scale(0.95);
}

.qr-code {
  height: 300px;
  display: flex;
  padding: 0 33px;
  justify-content: center;
  align-items: center;
  border: 1px solid grey;
  border-radius: 5px;
  opacity: 0;
  pointer-events: none;
}

.main-container.active  .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.5s 0.5s ease;
}

img {
  height: 200px;
}
